* {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: solid 0.25px powderblue; */
}
[class*=grid-],[class*=grid_],[class~=grid]{
  margin: 0;
}
[class*=col-], [class*=col_], [class~=col] {
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
}
h2 {
  font-size: 2em;
  font-weight: 300;
  margin: 0.5em 0;
}
h3 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0;
}
h4 {
  font-size: 1.5em;
  font-weight: 200;
  margin: 0;
}
h5 {
  font-size: 1em;
  font-weight: 200;
  margin: 0;
}
h6,p {
  font-weight: 200;
}
ul {
  font-weight: 200;
  line-height: 1.5;
  padding-left: 20px;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-white {
  color: white;
}
.text-pink {
  color: #fc1a9e;
}
.text-bold {
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}

.button-white {
  position: relative;
  border: solid white 3px;
  border-radius: 50px;
  background: transparent;
  padding: 0.5% 1.5%;
  color: white;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.button-white:hover {
  font-family: 1.1em;
  font-weight: bolder;
}
.button-grad {
  border-radius: 50px;
  padding: 1% 1.5%;
  background: linear-gradient( to bottom right, #7b299e, #fc1a9e);
  color: white;
  border: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.button-grad:hover {
  box-shadow: 1px 1px 5px grey;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}
.button-grad:active {
  box-shadow: 1px 1px 5px grey;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}

section {
  padding: 2.5% 15%;
}
.wide-section {
  padding: 2.5% 10%;
}
.space-left {
  padding-left: 1%;
}
.space-right {
  padding-right: 1%;
}
.start-button {
  padding-top: 1%;
  padding-bottom: 2%;
}
@media all and (max-width:1024px) {
  .space-left {
    padding-left: 0;
  }
  .space-right {
    padding-right: 0;
  }
  .start-button {
    padding-top: 3%;
    padding-bottom: 2%;
  }
}
@media all and (max-width:576px) {
  section,.wide-section {
    padding: 5%;
  }
  .start-button {
    display: none;
  }
}


.translation-icon {
  position: absolute;
  height: 45px;
  top: 2.5%;
  right: 1%;
}
.translation-icon-footer {
  height: 45px;
}

.hero-logo {
  max-height: 50vh;
}
.small-logo {
  max-height: 20vh;
}
@media all and (max-width:576px) {
  .hero-logo {
    padding-top: 5vh;
  }
}

.bg-hero {
  background: linear-gradient(#0c3556, #7b299e, #fc1a9e);
  min-height: 100vh;
}
.bg-team {
  background: linear-gradient(#fc1a9e, #7b299e, #0c3556);
}
.bg-blue {
  background: #0c3556;
}

.outline-turq {
  border: 5px solid #28efd0;
}
.shadow {
  box-shadow: 2px 2px 10px grey;
}


/* form styling */
label,input,::placeholder {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  margin: 0;
}
input {
  width: 100%;
  height: 1.8em;
  border: 0.25px inset rgba(121,121,121,0.5);
}
select {
  font-family: 'Kanit', sans-serif;
  width: 100%;
  height: 2em;
  border: 0.5px solid rgba(121,121,121,0.5);
}
textarea {
  width: 100%;
  height: 5em;
  border: 0.25px inset rgba(121,121,121,0.5);
}

/* map styling */
.points-cont .points{
  /* float: left; */
  padding: 10px 0;
}
.points-cont .points.point-2{
  float: right;
}
.points-cont .points .maps{
  width: 100%;
  height: 250px;
}
.points-cont .points .fields input{
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.team-circle {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;
  position: auto;
}
/* .team-image {
  background-image: url("/images/fuji.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow-y: hidden;
} */
@media all and (max-width:911px) {
  .team-circle {
    height: 150px;
    width: 150px;
  }
}
@media all and (max-width:685px) {
  .team-circle {
    height: 100px;
    width: 100px;
  }
}

.display-block {
  display: block;
}

.pad-all-xs {
  padding: 1%;
}
.pad-all-s {
  padding: 5%;
}
.pad-all-m {
  padding: 10%;
}
.pad-all-l {
  padding: 20%;
}
.pad-top-xs {
  padding-top: 1%;
}
.pad-top-s {
  padding-top: 5%;
}
.pad-top-m {
  padding-top: 10%;
}
.pad-top-l {
  padding-top: 20%;
}
.pad-top-xl {
  padding-top: 25%;
}
.pad-right-xs {
  padding-right: 1%;
}
.pad-right-s {
  padding-right: 5%;
}
.pad-right-m {
  padding-right: 10%;
}
.pad-right-l {
  padding-right: 20%;
}
.pad-right-xl {
  padding-right: 40%;
}
.pad-bottom-xs {
  padding-bottom: 1%;
}
.pad-bottom-s {
  padding-bottom: 5%;
}
.pad-bottom-m {
  padding-bottom: 10%;
}
.pad-bottom-l {
  padding-bottom: 20%;
}
.pad-left-xs {
  padding-left: 1%;
}
.pad-left-s {
  padding-left: 5%;
}
.pad-left-m {
  padding-left: 10%;
}
.pad-left-l {
  padding-left: 20%;
}
.pad-none {
  padding: 0;
}
.margin-all-xs {
  margin: 1%
}
.margin-all-s {
  margin: 5%
}
.margin-all-m {
  margin: 10%
}
.margin-all-l {
  margin: 20%
}
.margin-top-xs {
  margin-top: 1%
}
.margin-top-s {
  margin-top: 5%
}
.margin-top-m {
  margin-top: 10%
}
.margin-top-l {
  margin-top: 20%
}
.margin-right-xs {
  margin-right: 1%
}
.margin-right-s {
  margin-right: 5%
}
.margin-right-m {
  margin-right: 10%
}
.margin-right-l {
  margin-right: 20%
}
.margin-right-xl {
  margin-right: 40%;
}
.margin-bottom-xs {
  margin-bottom: 1%
}
.margin-bottom-s {
  margin-bottom: 5%
}
.margin-bottom-m {
  margin-bottom: 10%
}
.margin-bottom-l {
  margin-bottom: 20%
}
.margin-left-xs {
  margin-left: 1%
}
.margin-left-s {
  margin-left: 5%
}
.margin-left-m {
  margin-left: 10%
}
.margin-left-l {
  margin-left: 20%
}
.margin-none {
  margin: 0;
}
